h1 {
  font-size: 3rem; color: navajowhite
}

h1 {
  background-color: navy;
}

ul {
  list-style-type: disc;
  margin: 1rem;
}

main {
  font-size: 1rem; color:navy
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding: 1rem; 
}

body {
  background-color: black;
}

ol {
  font-size: 1rem; color: navy
}

h2 {
  font-size: 1.5rem; color: navajowhite;
}

h2 {
  background-color: navy;
}

h3 {
  font-size: 1.5rem; color: navajowhite
}

h3 {
  background-color: navy
}

ul {
  font-size: 1rem; color: navajowhite
}
ul {
  background-color: navy;
}

h4 {
  font-size: 1.5rem; color: navajowhite
}

h4 {
  background-color: navy;
}

h1 {
  margin: auto;
  width: max-content
  /*text-align: center; */
}

h3{
  margin: auto;
  width: max-content
  /*text-align: center; */
}

h4{
  margin: auto;
  width: max-content
  /*text-align: center; */
}

h2{
  margin: auto;
  width: max-content
  /*text-align: center; */
}
img{
  margin: auto;
  width: max-content
  /*text-align: center; */
}

ol{
    font-size: 1.5rem; color: navajowhite
}
